doctype html
html
  head
    block head
      title Panel de control
  body
    include ./header.pug
    main 
      
        h1 Bienvenido #{user.name}
        a(href="/search") Buscar películas
        a(href="/api/movie") Mis películas
        //- form(action="/api/logout" method="POST")
        //- button(type="submit") Salir
    include ./footer.pug
    script(src="/js/script.js")
