//- [GET] /users : Mostrará la lista de usuarios registrados en la aplicación. Cada usuario podrá ser editado o 
//- borrado por el administrador. Además podrá dar de alta nuevos usuarios.
extends dashboard

block title 
    title Usuarios
block content
    h1 Lista de usuarios
    ul
      each user in users
        li
          | #{user.name} (#{user.email})
          a(href=`/users/edit/${user.id}`) Editar
          form(action=`/api/user/${user.id}` method="POST")
            input(type="hidden" name="_method" value="DELETE")
            button(type="submit") Borrar
