body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c4c4c4;
    margin: 0;
    padding: 0;
}

.movie-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Efecto hover del contenedor de peliculas */
.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Título */
.movie-card h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333;
}

/* Imagen */
.movie-card .img_logo {
    width: 100%;
    height: 320px;
    object-fit: cover;
    max-height: 320px; /* límite opcional */
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Año */
.movie-card p {
    margin: 8px 0;
    color: #555;
    font-size: 0.95rem;
}

/* Botón */
.btn-detalle {
    margin-top: auto;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background: #ff6b6b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.25s ease;
}

.btn-detalle:hover {
    background: #ff4757;
}


h1 {
    padding: 15px;
    position: relative;
    text-align: center;
}

.search-container {
    display: flex;              /* Activa flexbox */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente */
    gap: 10px;                  /* Espacio entre input y botón */
    margin: 20px 0;             /* Separación superior e inferior */
}

.search-container input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    width: 250px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #ff6b6b;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
}

.search-container button:hover {
    background-color: #ff4757;
}

footer {
    text-align: center;
    position: sticky;
    width: 100%;
    height: 100%;
    background-color: #ff4757;
    color: #000000;
    padding: 15px;
}

